<head th:replace="~{/includes/header::header}"></head>
<div th:replace="~{/includes/sidebar::sidebar}"></div>
<div class="main-content">
    <!-- header area start -->
    <div class="header-area">
        <div class="row align-items-center">
            <!-- nav and search button -->
            <div class="col-md-6 col-sm-8 clearfix">
                <div class="nav-btn pull-left">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <!-- profile info & task notification -->
            <div class="col-md-6 col-sm-4 clearfix">
                <ul class="notification-area pull-right">
                    <li id="full-view"><i class="ti-fullscreen"></i></li>
                    <li id="full-view-exit"><i class="ti-zoom-out"></i></li>

                </ul>
            </div>
        </div>
    </div>
    <!-- header area end -->
    <!-- page title area start -->
    <div class="page-title-area">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="breadcrumbs-area clearfix">
                    <ul class="breadcrumbs pull-left">
                        <li><a href="#">Settings</a></li>
                        <li><span>Add User</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 clearfix">
                <div class="user-profile pull-right">
                    <img alt="avatar" class="avatar user-thumb" th:src="@{/assets/images/author/avatar.png}">
                    <h4 class="user-name dropdown-toggle" data-toggle="dropdown">Admin <i class="fa fa-angle-down"></i>
                    </h4>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Message</a>
                        <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" th:href="@{/logout}">Log Out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card mt-5">
            <div class="card-body">
                <!-- tab start -->
                <div class="col-lg-6 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Settings</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Test</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Danger Zone</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                    <!-- Tab 1 -->
                                    <form>
                                        <div class="invoice-buttons text-right">
                                            <div class="col-md-6 mb-3">
                                                <label for="validationCustom01" class="col-form-label">Voice Enable(Device Only)</label>

                                                <select name="voiceId" id="validationCustom01" class="custom-select" >
                                                    <option value="">Select User Type</option>
                                                    <option value="0" selected>On</option>
                                                    <option value="1">Off</option>
                                                </select>
                                                <div class="invalid-feedback">
                                                    Please provide a valid state.
                                                </div>
                                            </div>

                                            <div class="col-md-6 mb-3">
                                                <label for="validationCustom02" class="col-form-label">Lock power down key(Device Only)</label>

                                                <select name="voiceId" id="validationCustom02" class="custom-select" >
                                                    <option value="">Select User Type</option>
                                                    <option value="0" selected>On</option>
                                                    <option value="1">Off</option>
                                                </select>
                                                <div class="invalid-feedback">
                                                    Please provide a valid state.
                                                </div>
                                            </div>

                                            <div class="col-md-6 mb-3">
                                                <label for="validationCustom03" class="col-form-label">IP Address(Device Only)</label>
                                                <input type="text" class="form-control" id="validationCustom03" value="192.168.1.7">
                                                <div class="invalid-feedback">
                                                    Please provide a valid state.
                                                </div>
                                            </div>

                                        </div>
                                    </form>

                                </div>

                                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                    <!-- Tab 2 -->
                                    <form>
                                        <div class="invoice-buttons text-right">
                                            <div class="col-md-6 mb-3">
                                                <label for="validationCustom04" class="col-form-label">Voice Test(Device Only)</label>

                                                <select name="voiceId" id="validationCustom04" class="custom-select" onchange="testVoice()">
                                                    <option value="">Select User Type</option>
                                                    <option value="0">Thank You</option>
                                                    <option value="1">Incorrect Password</option>
                                                    <option value="2">Access Denied</option>
                                                    <option value="3">Invalid ID</option>
                                                    <option value="4">Please try again</option>
                                                    <option value="5">Duplicate ID</option>
                                                    <option value="6">The clock is flow</option>
                                                    <option value="7">The clock is full</option>
                                                    <option value="8">Duplicate finger</option>
                                                    <option value="9">Duplicated punch</option>
                                                    <option value="10">Beep kuko</option>
                                                    <option value="11">Beep siren</option>
                                                    <option value="13">Beep bell</option>
                                                    <option value="18">Windows(R) opening sound</option>
                                                    <option value="20">Fingerprint not emolt</option>
                                                    <option value="21">Password not emolt</option>
                                                    <option value="22">Badges not emolt</option>
                                                    <option value="23">Face not emolt</option>
                                                    <option value="24">Beep standard</option>
                                                    <option value="30">Invalid user</option>
                                                    <option value="31">Invalid time period</option>
                                                    <option value="32">Invalid combination</option>
                                                    <option value="33">Illegal Access</option>
                                                    <option value="34">Disk space full</option>
                                                    <option value="35">Duplicate fingerprint</option>
                                                    <option value="36">Fingerprint not registered</option>
                                                    <option value="51">Focus eyes on the green box</option>
                                                </select>
                                                <div class="invalid-feedback">
                                                    Please provide a valid state.
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                                    <!-- Tab 3 -->
                                    <div class="col-md-6 mb-3">
                                        <label for="validationCustom03" class="col-form-label">Reset Device(Device Only)</label>
                                        <input type="button" class="form-control" value="Reset Device">
                                        <div class="invalid-feedback">
                                            Please provide a valid state.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- tab end -->
            </div>
        </div>
    </div>
    <div th:replace="/includes/footer::footer"></div>



<script>
    function testVoice() {
        var voiceId = $("#validationCustom04").val();

        $.ajax({
            type: 'GET',
            url: '/api/voiceTest/' + voiceId,
            success: function (data) {
                alert("Please check Device is audible..!");
            },
            error: function (error) {
                console.error("Error:", error);
            }
        });
    }
</script>
