<head th:replace="~{/includes/header::header}"></head>
<div th:replace="~{/includes/sidebar::sidebar}"></div>
<!---->
<!-- main content area start -->
<!-- header area start -->
<div class="header-area">
    <div class="row align-items-center">
        <!-- nav and search button -->
        <div class="col-md-6 col-sm-8 clearfix">
            <div class="nav-btn pull-left">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <!-- profile info & task notification -->
        <div class="col-md-6 col-sm-4 clearfix">
            <ul class="notification-area pull-right">
                <li id="full-view"><i class="ti-fullscreen"></i></li>
                <li id="full-view-exit"><i class="ti-zoom-out"></i></li>

            </ul>
        </div>
    </div>
</div>
<!-- header area end -->
<!-- page title area start -->
<div class="page-title-area">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <div class="breadcrumbs-area clearfix">
                <h4 class="page-title pull-left">Dashboard</h4>
                <ul class="breadcrumbs pull-left">
                    <li><a href="index.html">Home</a></li>
                    <li><span>Dashboard</span></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 clearfix">
            <div class="user-profile pull-right">
                <img alt="avatar" class="avatar user-thumb" th:src="@{/assets/images/author/avatar.png}">
                <h4 class="user-name dropdown-toggle" data-toggle="dropdown">Admin <i class="fa fa-angle-down"></i></h4>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Message</a>
                    <a class="dropdown-item" href="#">Settings</a>
                    <a class="dropdown-item" th:href="@{/logout}">Log Out</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page title area end -->
<div class="main-content-inner">
    <div class="row">
        <!-- seo fact area start -->
        <div class="col-lg-8">
            <div class="row">
                <div class="col-md-6 mt-5 mb-3">
                    <div class="card">
                        <div class="seo-fact sbg1">
                            <div class="p-4 d-flex justify-content-between align-items-center">
                                <div class="seofct-icon"><i class="ti-thumb-up"></i> punch-in</div>
                                <h2 th:text="${checkin}">0</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-md-5 mb-3">
                    <div class="card">
                        <div class="seo-fact sbg2">
                            <div class="p-4 d-flex justify-content-between align-items-center">
                                <div class="seofct-icon"><i class="ti-share"></i> punch-out</div>
                                <h2 th:text="${checkout}">0</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-5 mb-3">
                    <div class="card">
                        <div class="seo-fact sbg3">
                            <div class="p-4 d-flex justify-content-between align-items-center">
                                <div class="seofct-icon" th:text="${deviceTime}"></div>
                                <form method="post" th:action="synktimedate">
                                    <button class="btn btn-md btn-primary" type="submit">Set Time to Device</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mt-md-5 mb-3">
                    <div class="card">
                        <div class="seo-fact sbg4">
                            <div class="p-4 d-flex justify-content-between align-items-center">
                                <div class="seofct-icon">Shutdown/Restart</div>
                                <div aria-label="Basic example" class="btn-group mb-xl-3" role="group">
                                    <form method="post" th:action="poweroff">
                                        <button class="btn btn-md btn-danger" type="submit">Shutdown</button>
                                    </form>
                                    <form method="post" th:action="restart">
                                        <button class="btn btn-md btn-primary" type="submit">Restart</button>
                                    </form>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- seo fact area end -->
        <!-- Social Campain area start -->
        <div class="col-lg-4 mt-5">
            <div class="card">
                <div class="card-body pb-0">
                    <h4 class="header-title">Device Status</h4>
                    <div id="socialads" style="height: 245px;">
                        <div th:switch="${deviceStatus}">
                            <div th:case="${true}"><img height="200" th:src="@{/assets/images/online.png}"></div>
                            <div th:case="*"><img height="200" th:src="@{/assets/images/offline.png}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Primary table start -->
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Attendance(On Device)</h4>
                <div class="data-tables datatable-primary">
                    <table class="text-center" id="dataTable4">
                        <thead class="text-capitalize">
                        <tr>
                            <th>userSN</th>
                            <th>user ID</th>
                            <th>Verify Type</th>
                            <th>Record Time</th>
                            <th>Verify States</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="attendanceRecord : ${attendanceRecords}">
                            <td th:text="${attendanceRecord.userSN}">userSN</td>
                            <td th:text="${attendanceRecord.userID}">userID</td>
                            <td th:text="${attendanceRecord.verifyType}">verifyType</td>
                            <td th:text="${attendanceRecord.recordTime}">recordTime</td>
                            <td th:text="${attendanceRecord.verifyState}">VerifyStates</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Primary table end -->
</div>
</div>
<!-- main content area end -->
<!---->
<div th:replace="/includes/footer::footer"></div>
