<head th:replace="~{/includes/header::header}"></head>
<div th:replace="~{/includes/sidebar::sidebar}"></div>
<div class="main-content">
    <!-- header area start -->
    <div class="header-area">
        <div class="row align-items-center">
            <!-- nav and search button -->
            <div class="col-md-6 col-sm-8 clearfix">
                <div class="nav-btn pull-left">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <!-- profile info & task notification -->
            <div class="col-md-6 col-sm-4 clearfix">
                <ul class="notification-area pull-right">
                    <li id="full-view"><i class="ti-fullscreen"></i></li>
                    <li id="full-view-exit"><i class="ti-zoom-out"></i></li>

                </ul>
            </div>
        </div>
    </div>
    <!-- header area end -->
    <!-- page title area start -->
    <div class="page-title-area">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="breadcrumbs-area clearfix">
                    <ul class="breadcrumbs pull-left">
                        <li><a href="index.html">Users</a></li>
                        <li><span>Add User</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 clearfix">
                <div class="user-profile pull-right">
                    <img alt="avatar" class="avatar user-thumb" th:src="@{/assets/images/author/avatar.png}">
                    <h4 class="user-name dropdown-toggle" data-toggle="dropdown">Admin <i class="fa fa-angle-down"></i>
                    </h4>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Message</a>
                        <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" href="./logout">Log Out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card mt-2">
            <div class="card-body">
                <!--    -->
                <div class="invoice-area">
                    <div class="invoice-head">
                        <div class="row">
                            <div class="iv-left col-6">
                                <span>Device Info</span>
                            </div>
                            <div class="iv-right col-6 text-md-right">
                                <span></span>
                                <a th:href="@{/admin/device/new}" class="btn btn-success btn-xs mb-3">Add New</a>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <table class="table table-bordered table-hover text-right" id="dataTable1">
                            <thead>
                            <tr class="text-capitalize">
                                <th class="text-center">IP</th>
                                <th class="text-left">Port</th>
                                <th class="text-left">Model</th>
                                <th class="text-left">Key</th>
                                <th class="text-left">Serial Num</th>
                                <th class="text-left">MAC</th>
                                <th class="text-left">Face Version</th>
                                <th class="text-left">FP Version</th>
                                <th class="text-left">Platform</th>
                                <th class="text-left">OEM Vendor</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="device : ${devices}">
                                <td class="text-center" th:text="${device.ip_address}">IP Address </td>
                                <td class="text-left" th:text="${device.port}">test Address </td>
                                <td class="text-left" th:text="${device.alias}">test Name </td>
                                <td class="text-left" th:text="${device.devicecommkey}">test Time </td>
                                <td class="text-left" th:text="${device.devicesn}">test Number </td>
                                <td class="text-left" th:text="${device.mac}">test Address </td>
                                <td class="text-left" th:text="${device.fa_version}">test Version </td>
                                <td class="text-left" th:text="${device.fw_version}">test </td>
                                <td class="text-left" th:text="${device.platform}">test </td>
                                <td class="text-left" th:text="${device.OEMVendor}">test Vendor </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>                <!--    -->
            </div>
        </div>
    </div>
    <div th:replace="/includes/footer::footer"></div>