<head th:replace="~{/includes/header::header}"></head>
<div th:replace="~{/includes/sidebar::sidebar}"></div>
<div class="main-content">
    <!-- header area start -->
    <div class="header-area">
        <div class="row align-items-center">
            <!-- nav and search button -->
            <div class="col-md-6 col-sm-8 clearfix">
                <div class="nav-btn pull-left">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <!-- profile info & task notification -->
            <div class="col-md-6 col-sm-4 clearfix">
                <ul class="notification-area pull-right">
                    <li id="full-view"><i class="ti-fullscreen"></i></li>
                    <li id="full-view-exit"><i class="ti-zoom-out"></i></li>

                </ul>
            </div>
        </div>
    </div>
    <!-- header area end -->
    <!-- page title area start -->
    <div class="page-title-area">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="breadcrumbs-area clearfix">
                    <ul class="breadcrumbs pull-left">
                        <li><a href="#">Users</a></li>
                        <li><span>Add User</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 clearfix">
                <div class="user-profile pull-right">
                    <img alt="avatar" class="avatar user-thumb" th:src="@{/assets/images/author/avatar.png}">
                    <h4 class="user-name dropdown-toggle" data-toggle="dropdown">Admin <i class="fa fa-angle-down"></i>
                    </h4>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Message</a>
                        <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" th:href="@{/logout}">Log Out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <!--    -->
                <!-- Hoverable Rows Table start -->
                <div class="">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title" >Employee List(Database)</h4>
                            <button class="btn btn-md btn-info" type="submit" onclick="synkallUsers()">sync User to DB </button>
                            <div class="single-table">
                                <div class="table-responsive">
                                    <table class="table table-hover text-center">
                                        <thead class="text-uppercase">
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">PassKey</th>
                                            <th scope="col">RF Number</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="employee : ${employeeList}">
                                            <td th:text="${employee.employeeId}">employeeId</td>
                                            <td th:text="${employee.employeeName}">employeeName</td>
                                            <td th:text="${employee.userRole}">v</td>
                                            <td th:text="${employee.password}">password</td>
                                            <td th:text="${employee.cardNumber}">cardNumber</td>
                                            <td>
                                                <a th:href="@{'admin/employee/synk/toDevice/' + ${employee.id}}" class="btn btn-primary">
                                                    <span class="ti-direction-alt"></span>
                                                </a>

                                                <button class="btn btn-danger" th:onclick="'deleteEmployee(\'' + ${employee.id} + '\'); return false;'">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Honorable Rows Table end -->
                <!--    -->
        </div>
    </div>
    <div th:replace="/includes/footer::footer"></div>

    <script>
        function deleteEmployee(employeeId) {
            // Make an AJAX request to the server to delete the employee
            $.ajax({
                type: 'DELETE',
                url: '/api/deleteEmployeedb/' + employeeId,
                success: function (data) {
                    alert("User Deleted...!");
                    window.location.reload();
                },
                error: function (error) {
                    // Handle error, e.g., show an error message
                }
            });
        }
    </script>

    <script>
    function synkallUsers() {
        // Make an AJAX request to the server to delete the employee
        $.ajax({
            type: 'GET',
            url: '/api/synckusertodb',
            success: function (data) {
                alert("Data Synced...!");
                window.location.reload();
            },
            error: function (error) {
                // Handle error, e.g., show an error message
                alert("Data not Synced...!");
            }
        });
    }
</script>