<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Spring" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="com.gac.employee.attendance.AttendanceApplication" />
    <module name="attendance" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>